body {
  background-color: black;
}

.container-fluid {
  margin: 0 auto;
}

 .img-center {
  text-align: center;
}

.image {
  background: black;
}

.topbox {
  z-index:99;
}

.text_box {
  background: black;
  color: white;
  height: 200px;
  overflow-y:scroll;
  font-size: 18px;
}



.stats {
  background: black;
  border-right: 1px solid white;
  color: white;
}

.options {
  background: black;
  border-left: 1px solid white;
  color: white;
}

.items {
  background: black;
  color: white;
}

.border {
  border: 1px solid black;
}

.pad10 {
  padding:10px;
}

#image-display {
  position: relative;
  height: 600px;
  overflow:hidden;
}


#enemy-image,
#player-image,
#background-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#enemy-image {
  top: 260px;
  left: 70%;
  z-index: 10;
  max-height: 300px;

  animation-name: enemy-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#player-image {
  top:200px;
  left:5%;
  z-index:10;
  max-height: 300px;

  animation-name: player-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes player-move {
  0% {left:5%;}
  10% {left:5%;}
  40% {left:8%}
  60% {left:8%;}
  90% {left:5%;}
  100% {left:5%;}
}

@keyframes enemy-move {
  0% {left:70%;}
  10% {left:70%;}
  40% {left:65%}
  60% {left:65%;}
  90% {left:70%;}
  100% {left:70%;}
}

#background-img {
  z-index: 5;
}

.progress-enemy,
.progress-player {
  width: 300px;
}

.footer-stuff {
  color: white;
  font-size: 12px;
  border: 1px dashed white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.dice-container {
  /* padding:10px 10px 10px 25px; */
}

.dicebox {
  background:#fff;;
  margin:10px;
  height:70%;
  font-size: 100px;
  text-align:center;
}

.dice-title {
  font-size: 24px;
  font-weight:bold;
  text-align:center;
  color:#fff;
}
