body {
  background-color: black;
}

.container-fluid {
  margin: 0 auto;
}

/* .img-center {
  text-align: center;
} */

.image {
  background: black;
}

.topbox {
  z-index:99;
}

.text_box {
  background: black;
  color: white;
  height: 200px;
  overflow-y:scroll;
}



.stats {
  background: black;
  border-right: 1px solid white;
  color: white;
}

.options {
  background: black;
  border-left: 1px solid white;
  color: white;
}

.items {
  background: black;
  color: white;
}

.border {
  border: 1px solid black;
}

.pad10 {
  padding:10px;
}

#image-display {
  position: relative;
  height: 600px;
  overflow:hidden;
}

#enemy-image,
#background-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#enemy-image {
  top: 260px;
  left: 70%;
  z-index: 10;
  height: 300px;
}

#background-img {
  z-index: 5;
}

.progress-enemy {
  width: 300px;
}
